node_modules/*

image-cache/*
!image-cache/default.png
!image-cache/README.md

mstreamdb.lite
mstream.db
package-lock.json
.DS_Store

modules/ffmpeg/*
!modules/ffmpeg/README.md
.vscode/*

test.json

*.log
*.db
frp/*.ini

dist/*
app/node_modules/*
app/dist/*

appx/node_modules/*
appx/dist/*

.env

save/sync2/*

save/sync/*
!save/sync/README.md

save/db/*
!save/db/README.md

save/logs/*
!save/logs/README.md